<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<h1>Factures</h1>
<a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/invoices/new}">Nouvelle facture</a>
<table>
    <tr>
        <th>ID</th>
        <th>Désignation</th>
        <th>Créée le</th>
        <th sec:authorize="hasAuthority('ROLE_ADMIN')">Actions</th>
    </tr>
    <tr th:each="invoice : ${invoices}">
        <td th:text="${invoice.id}"/>
        <td th:text="${invoice.designation}"/>
        <td th:text="${invoice.createdAt}"/>
        <td sec:authorize="hasAuthority('ROLE_ADMIN')">
            <a th:href="@{/invoices/{id}/edit(id=${invoice.id})}">Modifier</a>
            <a th:href="@{/invoices/{id}/delete(id=${invoice.id})}">Supprimer</a>
        </td>
    </tr>
</table>
</body>
</html>